@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(7, 7, 116);
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
    
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 475px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

div#imagem {
    background-image: url(../images/pexels-sean-whang-25006-804269.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 5px;
}

div#formulario > form > legend {
    font-size: 0.8em;
    margin-bottom: 5px;
    text-align: center;
}

div.campo {
     background-color: rgb(0, 89, 148);
     display: block;
     color: white;
     height: 40px;
     border-radius: 5px;
     padding: 10px 0px 10px 10px;
     margin-bottom: 10px;
}

div.campo > input {
    background-color: lightblue;
    padding: 5px;
    border-radius: 3px;
    border: 0px;
    transform: translateY(-9px);
    width: 88%;
    
}

div#entrar > input {
    color: white;
    background-color: rgb(0, 153, 255);
    width: 100%;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

div#entrar > input:hover {
    background-color: rgb(0, 89, 148);
}

div#forget > input {
    color: rgb(0, 89, 148);
    text-align: center;
    background-color: white;
    width: 100%;
    padding: 10px;
    border: 3px solid rgb(0, 89, 148);
    border-radius: 5px;
    cursor: pointer;
}

div#forget > input:hover {
    background-color: rgb(0, 89, 148);
    color: white;
}