@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(0, 0, 75);
}

main {
    background-color: white;
    width: 400px;
    margin: auto;
    margin-top: 10%;
    border-radius: 10px;
}

div#imagem {
    background-image: url(../images/pexels-sean-whang-25006-804269.jpg);
    background-color: red;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px 10px 0px 0px;
}

div#formulario {
    padding: 0px 10px 10px 10px;
}

#formulario > h1 {
    text-align: center;
    padding: 10px;
}

#formulario > form > legend {
    font-size: 0.8em;
    margin: 5px;
    text-align: center;
}

div.campo {
     background-color: rgb(0, 89, 148);
     color: white;
     height: 20px;
     border-radius: 5px;
     padding: 10px 0px 10px 10px;
     margin-bottom: 10px;
}

div.campo > input {
    background-color: lightblue;
    padding: 5px;
    border-radius: 3px;
    border: 0px;
    transform: translateY(-9px);
    width: 88%;
    
}

div#entrar > input {
    color: white;
    background-color: rgb(0, 153, 255);
    width: 100%;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

div#entrar > input:hover {
    background-color: rgb(0, 89, 148);
}

div#forget > input {
    color: rgb(0, 153, 255);
    text-align: center;
    background-color: white;
    width: 100%;
    padding: 10px;
    border: 3px solid rgb(0, 153, 255);
    border-radius: 5px;
    cursor: pointer;
}

div#forget > input:hover {
    background-color: rgb(0, 153, 255);
    color: white;
}